version: '3.8'
services:
  db:
    image: postgres:13
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - postgres_data:/var/lib/postgresql/data

  server:
    build: .  # Собирает образ на основе Dockerfile в корне
    env_file:
      - .env
    ports:
      - "8000:8000"  # Порт, который будет слушать app.py
    depends_on:
      - db
    volumes:
      - .:/app  # Монтируем весь проект внутрь контейнера (для hot-reload, если нужно)

volumes:
  postgres_data: